[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "StatsTFLValR"]
	path = StatsTFLValR
	url = https://github.com/kalsem/statstflvalr
